In [1]:
# Importing required modules
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
# Let us create the Data-Frame for above 
df = pd.DataFrame({'LikesExercising':[False,False,False,True,False,True,True,True,True],
                'GotoGym':[True,True,True,True,True,False,True,False,False],
                 'DrivesCar':[True,False,False,True,True,False,True,False,True],
                 'Age':[14,15,16,26,36,50,69,72,74]})

In [8]:
df

   LikesExercising  GotoGym  DrivesCar  Age
0            False     True       True   14
1            False     True      False   15
2            False     True      False   16
3             True     True       True   26
4            False     True       True   36
5             True    False      False   50
6             True     True       True   69
7             True    False      False   72
8             True    False       True   74

In [9]:
LE = LabelEncoder()
df['LikesExercising'] = LE.fit_transform(df['LikesExercising'])
df['GotoGym'] = LE.fit_transform(df['GotoGym'])
df['DrivesCar'] = LE.fit_transform(df['DrivesCar'])

varaible 'age" is output variable

In [10]:
df

   LikesExercising  GotoGym  DrivesCar  Age
0                0        1          1   14
1                0        1          0   15
2                0        1          0   16
3                1        1          1   26
4                0        1          1   36
5                1        0          0   50
6                1        1          1   69
7                1        0          0   72
8                1        0          1   74